.grid-container {
    background-color: #bbada0;
    padding: 10px;
    display: inline-block;
    position: relative;
}

.grid-row {
    margin-bottom: 10px;
}

.grid-row:last-of-type {
    margin: 0;
}

.last {
    margin: 0;
}

.grid-cell {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background-color: rgba(238, 228, 218, 0.35)
}

.grid-cell:last-of-type {
    margin: 0;
}

.item {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 10px;
    left: 10px;
    background: brown;
}

.item-title {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}